html {
  height: 100%;
  // border: 2px purple dotted;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3d3;
  height: 100%;
  // border: 2px green dotted;
}

h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
